<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @member.id_number %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @member.addres %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
